html {
	background-color: black;
	<!>background-image: url("AVALove.jpg");</!>
	height: 100%;
	background-image: url("young_london.jpeg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
body {
	color:   #4dd3e1;
	text-align: right;
	padding: 70px 70;
	height: 100%;
	}
.boxed {
  display: inline-block;
  text-align: left;
  background-color:  black;
  opacity: 0.5;
	
} 