html {
	
	<!>background-image: url("AVALove.jpg");</!>
}
a, a:visited 
{
    text-decoration: none; 
    decoration: none; 
    color: red;
}
body {
	color: red;
	text-align: center;
	padding: 70px 0;
	}
